{% from 'macros.jinja2' import show_entry %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="bulma.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="1024px-PyCharm_Logo.svg.png" width="32" height="32" alt="Logo">
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Talks
                </a>
                <a class="navbar-item">
                    Partners
                </a>
                <a class="navbar-item">
                    Interviews
                </a>
            </div>

        </div>
    </div>
</nav>
<section class="section">
    <div class="columns">
        <div class="column is-one-third">
            <h1 class="is-size-3">Thursday</h1>
            {% for entry in theater.thursday %}
                {{ show_entry(start=entry.start, finish=entry.finish,
                    who=entry.who, title=entry.title) }}
            {% endfor %}
        </div>
        <div class="column is-two-third">
            <h1 class="is-size-3">Friday</h1>
            {% for entry in theater.friday %}
                {{ show_entry(start=entry.start, finish=entry.finish,
                    who=entry.who, title=entry.title) }}
            {% endfor %}
        </div>
        <div class="column is-two-third">
            <h1 class="is-size-3">Saturday</h1>
            {% for entry in theater.thursday %}
                {{ show_entry(start=entry.start, finish=entry.finish,
                    who=entry.who, title=entry.title) }}
            {% endfor %}
        </div>

    </div>
</section>
</body>
</html>
